/* COMMON */
.main-wrapper {
  width: 90%;
  margin: 0 auto;
}

.header .inner {
  padding: 48px 16px;
  max-width: none;
}
.main {
  padding: 40px 16px;
}
.main .summary {
  margin: 0 auto;
  flex-grow: 1;
}
.bg-image {
  width: 100%;
  max-width: 1024px;
}

/* SECTION COMMUNICATION */
.section--communication .bg-image {
  width: 100%;
  max-width: 1024px;
}
.section--communication .bg-image .bg-image-up {
  width: 50%;
}
.section--communication .bg-image .bg-image-down {
  width: 50%;
}
.section--communication .main-wrapper .main .visual > img {
  padding: 8% 0;
}

/* SECTION TEAMWORK */
.section--teamwork > .main-wrapper > .bg-image > .teamwork-bg-image {
  width: 100%;
  height: 100%;
}
.section--teamwork > .main-wrapper > .bg-image > .teamwork-bg-image > img {
  width: 100%;
  height: 100%;
}
#teamwork {
  padding: 8% 0;
}
