.bg-image {
  width: 100%;
  max-width: 1024px;
}
.bg-image .bg-image-up {
  width: 50%;
}
.bg-image .bg-image-down {
  width: 50%;
}

.main-wrapper {
  width: 90%;
  margin: 0 auto;
}

.header .inner {
  padding: 48px 16px;
  max-width: none;
}
.main {
  padding: 40px 16px;
}
.main .summary {
  margin: 0 auto;
  flex-grow: 1;
}

.main .visual > img {
  padding: 8% 0;
}
